header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  .header__left {
    color: red;
  }
  .header__right {
    display: flex;
    align-items: center;
    form {
      input {
        width: 24rem;
      }
    }
    .dropdown {
      margin-left: 12rem;
    }
  }
}
