@import "../node_modules/bootstrap/scss/bootstrap";
@import "bootstrap-icons";
@import "_vars";
@import "_mixins";
@import "components/header";
@import "components/home";
@import "components/me";
@import "views/playlist";
@import "views/report";
@import "views/upload";

*,
::before,
::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.main {
  padding-top: 2rem;
}
