header.hero(role='banner')
    a(href='/') 
        span Shortcut
    nav
        div 
        div
        ul
            details.dropdown-menu(role='list', dir='rtl')
                summary(aria-haspopup='listbox', role='link') 메뉴
                ul(role='listbox')
                        li
                            a(href='#') 업로드
                        li
                            a(href='#') 로그인
                        li
                            a(href="#") 로그아웃