
header
    nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
        .container-fluid
            a.navbar-brand(href="/") 
                span You
                | Rfan
            ul.navbar-nav.me-auto.mb-2.mb-md-0
                li.nav-item
                    a.nav-link.active(aria-current="page", href="/")  
                        span 홈
                li.nav-item
                    a.nav-link.active(aria-current="page", href="/report")  
                        span 신고하기
                        i.bi.bi-exclamation-diamond
                li.nav-item
                    a.nav-link(href="#") Link
                li.nav-item
                    a.nav-link.disabled Disabled
            form.d-flex(role="search")
                input.form-control.me-2.rounded-pill(type="search", placeholder="Search", aria-label="Search")
                button.d-none(type="submit") Search
            div.profile-btn
                .video-upload.hover-overlay 
                    a.video-upload-btn(type="button", href="/upload/")
                        i.bi.bi-box-arrow-in-down
                .dropdown
                    button.border.d-flex.align-items-center.shadow-sm#dropdownMenuButton(type="button" data-bs-toggle="dropdown" aria-expanded="false" alt="Avatar")
                        i.bi.bi-list
                        div.rounded-circle
                            i.bi.bi-person-fill
                    ul.dropdown-menu.mx-0.shadow(aria-labelledby="dropdownMenuButton")
                        li
                            a.dropdown-item(href='/login') 로그인
                        li
                            a.dropdown-item(href='/signup') 회원가입
                        li
                            a.dropdown-item(href="#") 내 정보
                        li
                            a.dropdown-item.dropdown-item-danger(href='#') 로그아웃
                        

