
header#header.header
    .header__left
        .header_toggle
            i#header-toggle.bi.bi-list
        .header_img
            img(src="https://i.imgur.com/hczKIze.jpg", alt="")
    .header__right
        form(method="post" action="#")
            input.form-control.border.border-end-0.rounded-pill#example-search-input(type="text")
        div
            .video-upload.hover-overlay 
                a.video-upload-btn(type="button", href="/upload/")
                    i.bi.bi-box-arrow-in-down
            .dropdown
                button.border.d-flex.align-items-center.shadow-sm#dropdownMenuButton(type="button" data-bs-toggle="dropdown" aria-expanded="false" alt="Avatar")
                    i.bi.bi-list
                    div.rounded-circle
                        i.bi.bi-person-fill
                ul.dropdown-menu(aria-labelledby="dropdownMenuButton")
                    li
                        a.dropdown-item(href='#') 로그인
                    li
                        a.dropdown-item(href='#') 로그아웃
                    li
                        a.dropdown-item(href="#") 내 정보
                    li
                        a.dropdown-item(href="#") 설정
#nav-bar.l-navbar
    nav.nav
        div
            a.nav_logo(href="/")
                i.bi.bi-scissors.nav_logo-icon
                span.nav_logo-name Shortcut
            div.nav_list
                a.nav_link.active(href="/")
                    i.bi.bi-house-fill.nav_icon
                    span.nav_name 홈
                a.nav_link(href="#")
                    i.bi.bi-arrow-through-heart-fill.nav_icon
                    span.nav_name 좋아요
                a.nav_link(href="/playlists/@me/")
                    i.bi.bi-collection-play.nav_icon
                    span.nav_name 보관함
                a.nav_link(href="/report/")
                    i.bi.bi-exclamation-diamond-fill.nav_icon
                    span.nav_name 신고하기
        a.nav_link(href="#")
            i.bi.bi-0-circle.nav_icon
            span.nav_name Placeholder
    
