#nav-bar.l-navbar
    #nav-menu.nav-menu
        .header_toggle
            i#header-toggle.bi.bi-list
        .header_img
            img(src="https://i.imgur.com/hczKIze.jpg", alt="")
    nav.nav
        div
            a(href="#", class="nav_logo")
                i(class="bx bx-layer nav_logo-icon")
                span(class="nav_logo-name") BBBootstrap
            div(class="nav_list")
                a(href="#", class="nav_link active")
                    i(class="bx bx-grid-alt nav_icon")
                    span(class="nav_name") Dashboard
                a(href="#", class="nav_link")
                    i(class="bx bx-user nav_icon")
                    span(class="nav_name") Users
                a(href="#", class="nav_link")
                    i(class="bx bx-message-square-detail nav_icon")
                    span(class="nav_name") Messages
                a(href="#", class="nav_link")
                    i(class="bx bx-bookmark nav_icon")
                    span(class="nav_name") Bookmark
                a(href="#", class="nav_link")
                    i(class="bx bx-folder nav_icon")
                    span(class="nav_name") Files
                a(href="#", class="nav_link")
                    i(class="bx bx-bar-chart-alt-2 nav_icon")
                    span(class="nav_name") Stats
        a(href="#", class="nav_link")
            i(class="bx bx-log-out nav_icon")
            span(class="nav_name") SignOut
