doctype html
html(lang='en', data-theme='light')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel="stylesheet" href="/public/stylesheets/style.css")
        title YouRfan
    body.bg-light.bg-body-tertiary
        include components/header
        main.container.p-5
            block content
        block modal
        include components/footer

    script(src="/bootstrap/js/bootstrap.bundle.min.js")
    script(src="/public/javascripts/views/header.js")
    block scripts
        
