mixin PostItem(post)
    li.list-group-item.d-flex.justify-content-between.align-items-center
        span.post-number #{post.number}
        span.post-title #{post.title}
        span.post-author #{post.author}
        span.post-date #{post.date}