extends layout

block content
    #upload
        hgroup
            h1.display-3 쇼츠 업로드
        form#short-upload-form.pt-4(method="post", action="#" ,enctype="multipart/form-data")
            .short-file-drop-area.mb-4
                span#choose-short-file 동영상 선택
                span#short-file-message 또는 동영상을 드래그
                input#short-file-input(type="file" multiple)
            .form-group.mb-3
                label.form-label 포맷 선택
                select.form-select.form-select-sm(aria-label=".form-select-sm example")
                    option(value="youtube" selected) 유튜브
                    option(value="ticktok") 틱톡
            .form-group.mb-3
                label.form-label 화질 선택
                select.form-select.form-select-sm(aria-label=".form-select-sm example")
                    option(value="high-qual" selected) 고화질
                    option(value="middle-qual") 중화질
                    option(value="low-qual") 저화질
            .form-group.mb-3
                label.form-label 보관함 선택
                select.form-select.form-select-sm(aria-label=".form-select-sm example")
                    option(value="default" selected) 전체 보관함
                    option(value="playlist1") 보관함 1
                    option(value="playlist2") 보관함 2
                    option(value="playlist3") 보관함 3

            .btns
                button.btn.btn-dark(type="submit") 업로드


    script(src="/javascripts/upload.js")