extends ../layout

block content
  .row.justify-content-center.align-items-center
      #community.col-md-8
        ul.nav.nav-tabs
          li.nav-item
            a.nav-link(href='#') 데이터
          li.nav-item
            a.nav-link.active(href='#') 커뮤니티
          li.nav-item
            a.nav-link(href='#') 채팅방
        h1.forum-title.py-4 engulfedInFlames의 포럼
        // Post List
        ul.post-list.list-group
          li.list-group-item.d-flex.justify-content-between.align-items-center
            span.post-number 100
            span.post-title Hello World!
            span.post-author Author
            span.post-date 2023-06-08
          li.list-group-item.d-flex.justify-content-between.align-items-center
            span.post-number 101
            span.post-title Hello World!
            span.post-author Author
            span.post-date 2023-06-08
          //- each post in posts
          //-   li.list-group-item.d-flex.justify-content-between.align-items-center
          //-     span.post-number #{post.number}
          //-     span.post-title #{post.title}
          //-     span.post-author #{post.author}
          //-     span.post-date #{post.date}
        .community-btns.w-100
          .btns__left
            button.btn.btn-outline-dark.mt-4(type='button') 전체글
            button.btn.btn-outline-dark.mt-4(type='button') 추천글
          .btns__right
            button.btn.btn-primary.mt-4(type='button') 글쓰기

        // Pagination
        div(aria-label='Page navigation')
          ul.pagination.justify-content-center.mt-4
            li.page-item.disabled
              a.page-link(href='#', tabindex='-1', aria-disabled='true') Previous
            li.page-item.active
              a.page-link(href='#') 1
            li.page-item
              a.page-link(href='#') 2
            li.page-item
              a.page-link(href='#') 3
            li.page-item
              a.page-link(href='#') Next

  script(src="/public/javascripts/views/playlist.js")