extends ../layout
include ../mixins

block content
    .row
        - const CH = channelHandle
        +ForumTabs(CH)

        h1.py-4 인사이트


block scripts
  script(src="/public/javascripts/views/forum.js")