extends ../layout

block content
  .row
    .col-md-8.col-md-offset-2.mx-auto
      hgroup 
        h2.mb-4 #{channelHandle} 커뮤니티에 글쓰기
      form(method="POST", action="#").mt-4
        .form-group.mb-3
          label.mb-3(for="title") 제목 
          input.form-control(type="text", name="title")
        .form-group.mb-3
          label.mb-3(for="description") 내용
          div#textEditor.form-control(rows="10", name="description")
        .write-btns.mb-3.d-flex.justify-content-end
          button#goBackBtn.btn.btn-secondary(type="button")
            | 취소
          button.btn.btn-primary.ms-2(type="submit")
            | 등록

block scripts
  script(src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest")
  script(src="https://cdn.jsdelivr.net/npm/@editorjs/image@2.3.0")
  script(src="https://cdn.jsdelivr.net/npm/@editorjs/list@latest")
  script(src="https://cdn.jsdelivr.net/npm/@editorjs/quote@latest")
  script(src="https://cdn.jsdelivr.net/npm/@editorjs/code@latest")
  script(src="https://cdn.jsdelivr.net/npm/@editorjs/table@latest")
  script(src="https://cdn.jsdelivr.net/npm/@editorjs/link@latest")
  script(src="https://cdn.jsdelivr.net/npm/@editorjs/marker@latest")
  script(src="https://cdn.jsdelivr.net/npm/@editorjs/inline-code@latest")
  script(src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest")

  script(src="/public/javascripts/views/write.js")
    
