header {
  @include flex-h-between;
  user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 1.5rem;
  background-color: white;
  .header__left {
    padding-left: 4rem;
    padding-right: 2rem;
    a {
      span {
        color: black;
        font-size: 2rem;
        font-weight: bold;
      }
    }
  }
  .header__right {
    display: flex;
    align-items: center;
    form {
      input {
        width: 24rem;
      }
    }
    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 2rem;
      .video-upload {
        display: flex;
        justify-content: center;
        align-items: center;
        button {
          background-color: white;
          border: white;
          i {
            font-size: 1.5rem;
            transition: color 0.3s;
            &:hover {
              color: rgb(162, 162, 162);
            }
          }
        }
      }
      .dropdown {
        margin-left: 2rem;
        button {
          width: 6rem;
          height: 3rem;
          display: flex;
          justify-content: space-between;
          align-content: center;
          background-color: white;
          padding: 1rem;
          border-radius: 2rem;
          transition: transform 0.3s;
          i {
            font-size: 1.25rem;
          }
          div {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: black;
            padding: 0.15rem;
            margin-left: 0;
            i {
              color: white;
              font-size: 1.15rem;
              padding: 0.15rem;
            }
          }
        }
        button.show {
          transform: scale(0.9);
        }
        .dropdown-menu li {
          font-size: 1.25rem;
        }
      }
    }
  }
}
