extends ../layout
include ../mixins

block content
    .row
    - const CH = channelHandle
    +ForumTabs(CH)

    .row
        h1.py-4 콜로키움 
            span (27)
    .row.mx-2.p-2.border.border-secondary.rounded(style={"height":"60vh"})
        .chat-messages
            .message.my-message.p-2.mb-2
                .d-flex.justify-content-between.text-body-secondary.fw-bold
                    span.me-4 Me
                    span 21:06:11

                .message-content
                    p.m-0 This is my message.

            .message.not-my-message.p-2.mb-2
                .d-flex.justify-content-between.text-body-secondary
                    span.me-4 NotMe
                    span 21:06:10

                .message-content
                    p.m-0 This is not my message.
    .row.px-2.pt-1
        form
            .input-group
                input#messageInput.form-control.py-3(type="text" placeholder="메세지를 입력하세요" aria-label="메세지를 입력하세요")
                button.btn.btn-primary.py-3(type="submit") 전송


block scripts
    script.
        const insightTab = document.getElementById("insightTab");
        const consortiumTab = document.getElementById("consortiumTab");
        const colloquiumTab = document.getElementById("colloquiumTab");

        const position = window.location.href.split("/").pop();

        insightTab.classList.remove("active");
        consortiumTab.classList.remove("active");
        colloquiumTab.classList.remove("active");

        if (position === "insight") {
            insightTab.classList.add("active");
        } else if (position == "consortium") {
            consortiumTab.classList.add("active");
        } else {
            colloquiumTab.classList.add("active");
        }