#login-form {
  max-width: 440px;
  padding: 1rem;
  margin: 0 auto;
  .form-floating:focus-within {
    z-index: 2;
  }
  .social-btns {
    @include flex-v-center;
    margin: 0;
    button {
      &:nth-child(1) {
        background-color: #f3e24d;
      }
      &:nth-child(2) {
        color: white;
        background-color: black;
      }
    }
  }
}
