#signup-form {
  max-width: 440px;
  padding: 1rem;
  margin: 0 auto;
  .password-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .social-btns {
    @include flex-v-center;
    margin: 0;
  }
}
