#upload {
  width: 60%;
  max-width: 784px;
  margin: 0 auto;
  padding-bottom: 4rem;
  #short-upload-form {
    .short-file-drop-area {
      @include flex-h-center;
      position: relative;
      padding: 4rem;
      border: 2px dashed var(--first-color);
      border-radius: 3px;
      transition: 0.2s;
      #choose-short-file {
        flex-shrink: 0;
        font-size: 1rem;
        background-color: transparent;
        margin-right: 0.5rem;
      }
      #short-file-message {
        font-size: 1rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      #short-file-input {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        cursor: pointer;
        opacity: 0;
      }
    }
    .btns {
      @include flex-h-end;
    }
  }
}
